<section class="hero" aria-label="Hero introduction">
  <div class="hero__container">
    <div class="hero__avatar">
      <img
        src="assets/pixel-art/avatar-placeholder.svg"
        alt="Pixel art avatar of Tyler Hawthorn"
        class="hero__avatar-img"
        width="300"
        height="300"
      />
      <div class="hero__platform" aria-hidden="true"></div>
    </div>

    <div class="hero__content">
      <h1 class="hero__name">{{ bio().name.toUpperCase() }}</h1>
      <p class="hero__alias">AKA {{ bio().alias.toUpperCase() }}</p>
      <p class="hero__subtitle">{{ bio().title }}</p>
    </div>
  </div>

  <div class="hero__ufo" aria-hidden="true">
    <div class="hero__ufo-disc">
      <img
        src="assets/pixel-art/ufo-placeholder.svg"
        alt=""
        class="hero__ufo-img"
        width="220"
        height="120"
      />
    </div>
    <div class="hero__ufo-beam"></div>
  </div>

  <div class="hero__scroll-indicator" aria-hidden="true">
    <span class="hero__scroll-arrow"></span>
    <span class="hero__scroll-arrow"></span>
    <span class="hero__scroll-arrow"></span>
  </div>
</section>
